@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
   .jumbotron h1 {
        color:blue;
        font-size: 80px;
    }
}
@media only screen and (min-device-width: 992px) and (max-device-width: 992px)  {
   .jumbotron p {
        color:blue;
        font-size: 80px;
    }
}